# general things to ignore
.DS_Store
build/
build_contrib/
dist/
.cache/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
include/config.h
*.out

# IDE
.vscode/

# misc
data/
checkpoints/
work_dirs/
.python-version
ruff.log
